.create-edite-form {
    min-width: 40%;
    margin: 3em;
}

fieldset {
    display: flex;
    box-shadow: 0 1em 1em 0 rgb(0, 0, 0, 0.2);
    flex-direction: column;
    gap: 2em;
    border: none;
    padding: 1em;
}

legend {
    font-weight: 800;
    font-size: 1.5em;
}

.input-wrapper {
    position: relative;
    border: 1px solid black;
}

.form-icons {
    display: none;
}

.error-icon {
    position: absolute;
    transform: translate(-149%, 38%);
    color: rgb(230, 81, 81);
    font-size: 2em;
    display: inline-block;
}

.repeat_passwotd {
    transform: translate(13%, 76%);
}

input {
    width: 100%;
    border: none;
    padding: 1em;
}

textarea{
    padding: 1em;
}

.auth-form-button {
    background-color: rgb(51, 87, 255);
    color: white;
    padding: 1em;
    border: none;
    font-size: 1.1em;
}

.error-create-edite-form-inactive {
    display: none;
}

.error-create-edite-form-active {
    color: red;
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;
    align-items: center;
}